<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- 
  <div class="nav3">
 
     <a [routerLink] = "['/ingredient']" class="icons"><img alt="Silhouette of mountains" src="../../assets//imgs/ingredient.png" /></a> 
     <a [routerLink] = "['/services']" class="icons"><img alt="Silhouette of mountains" src="../../assets//imgs/cake2.png" /></a> 
      <a class="icons"><img alt="Silhouette of mountains" src="../../assets//imgs/client.png" /></a> 
  
  </div> -->
  <ion-grid>
     <ion-row>
      <ion-col>
        <ion-thumbail>
          <ion-card class="ion-img" slot="start">
            <a [routerLink] = "['/ingredient']" class="icons"><ion-img alt="Silhouette of mountains" src="../../assets//imgs/ingredient.png"></ion-img></a> 
            <ion-item><ion-label>{{'ingredient' | translate}}</ion-label></ion-item>
          </ion-card>
         </ion-thumbail>
      </ion-col>
      <ion-col>
        <ion-thumbail>
          <ion-card class="ion-img" slot="start">
          
            <a [routerLink] = "['/services']" class="icons"><ion-img alt="Silhouette of mountains" src="../../assets//imgs/cake2.png"></ion-img></a> 
           <ion-item><ion-label>{{'service' | translate}}</ion-label></ion-item>
            
         
          </ion-card></ion-thumbail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-thumbail> 
          <ion-card class="ion-img" slot="start">
           
             <a [routerLink] = "['/client']" class="icons"><ion-img alt="Silhouette of mountains" src="../../assets//imgs/client.png"></ion-img></a> 
             <ion-item><ion-label>{{'client' | translate}}</ion-label></ion-item>
          </ion-card>
        </ion-thumbail>
      </ion-col>
 
      <ion-col>
        <ion-thumbail> 
          <ion-card class="ion-img" slot="start">
           
             <a [routerLink] = "['/inventoryIngredient']" class="icons"><ion-img alt="Silhouette of mountains" src="../../assets//imgs/inventario.png"></ion-img></a> 
             <ion-label>{{'inventoryIngredient' | translate}}</ion-label>
          </ion-card>
        </ion-thumbail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-thumbail> 
          <ion-card class="ion-img" slot="start">
           
             <a [routerLink] = "['/orders']" class="icons"><ion-img alt="Silhouette of mountains" src="../../assets//imgs/pedido.png"></ion-img></a> 
             <ion-item><ion-label>{{'orders' | translate}}</ion-label></ion-item>
          </ion-card>
        </ion-thumbail>
      </ion-col>
 
      <ion-col>
       
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
