<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div>
        <ion-grid>
          <ion-row
            ><ion-img
              *ngIf="lang == 'es'"
              alt="Silhouette of mountains"
              style="height: 20px !important"
              src="../assets//imgs//espana.png"
            ></ion-img>
            <ion-img
              *ngIf="lang == 'pt'"
              alt="Silhouette of mountains"
              style="height: 20px !important"
              src="../assets//imgs//portugal.png"
            ></ion-img>
            <ion-img
              *ngIf="lang == 'en'"
              alt="Silhouette of mountains"
              style="height: 20px !important"
              src="../assets//imgs//reino-unido.png"
            ></ion-img
            
          >
          <ion-img
          alt="Silhouette of mountains"
          style="height: 50px !important"
          src="../assets//icon/infinite.png"
        ></ion-img></ion-row>
        </ion-grid>
      </div>
        <ion-list id="inbox-list">
          <ion-note><b>Infinite</b></ion-note>
          <ion-note [routerLink]="['profile']">{{ email }} </ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              lines="none"
              detail="false"
              (click)="exit()"
            >
              <ion-icon
                slot="start"
                [ios]="exit"
                name="exit"
                [md]="exit"
              ></ion-icon>
              <ion-label>{{ "exit" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
