<ion-header   [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
  <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{'services' | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openHelp(true)" fill="solid" color="light">
        {{'help' | translate}}
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{'help' | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openHelp(false)">Ok</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
         Utilice esta opción para crear los ingredientes que utiliza para realizar sus productos, posteriormebte estos seran utilizados para temas de inventario y rebajas de inventario en caso de que aplique al facturar algun servicio.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="isIngredientOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{'ingredient' | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="viewIngredient(false)">Entendido</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      <ion-card *ngFor="let item of service.ingredientPerService;let index=index">
        <ion-item>
         
          <ion-label >{{item.quantity}} {{item.ingredientPerService.unitOfMeasure}} de  {{item.ingredientPerService.name}}</ion-label>
       <ion-buttons (click)="removeDetail(index,item)"><ion-icon name="trash"></ion-icon></ion-buttons>
        </ion-item>
   
      </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div  id="container">
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="exit" [indeterminate]="true"></ion-checkbox>
      <ion-label >{{'exitToFinish' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'productName' | translate}}:</ion-label>
      <ion-input style="color: #61A295;" [(ngModel)]="service.name"></ion-input> </ion-item
    ><ion-item>
      <ion-label>{{'description' | translate}}:</ion-label>
      <ion-textarea style="color: #61A295;" [(ngModel)]="service.description"></ion-textarea>
    
</ion-item>
    <ion-item>
      <ion-label>{{'salesPrice' | translate}}:</ion-label>
      <ion-input [(ngModel)]="service.price" type="number"></ion-input> </ion-item
    >
    <ion-item>
   
        <ion-label>{{'cost' | translate}}:</ion-label>
        <ion-input  [(ngModel)]="service.cost" type="number"></ion-input> </ion-item>
        <ion-item>
   
          <ion-label>{{'otherCost' | translate}}:</ion-label>
          <ion-input  [(ngModel)]="service.otherCost" type="number"></ion-input> </ion-item>
        <ion-item>
   
          <ion-label>{{'gain' | translate}}:</ion-label>
          <ion-input readonly  [(ngModel)]="service.price - service.cost - service.otherCost" type="number"></ion-input> </ion-item>
  
  </div>
    <ion-item>
 
  </ion-item>
  <ion-item>
    <ion-label>{{'useQuantity'|translate}}:</ion-label>
    <ion-input style="color: #61A295;" [(ngModel)]="ingredientPerService.quantity" type="number"></ion-input> 
  </ion-item>
    <ion-item>
      <ion-label>{{'ingredient' | translate}}:</ion-label>
      <ionic-selectable
        [(ngModel)]="ingredientObj"
        [items]="ingredient"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="ingredientChange($event)">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label>{{'uOm' | translate}}:</ion-label>
      <ion-input [disabled]="true" [(ngModel)]="unitOfMeasure"></ion-input>
     </ion-item>
     <ion-item>
      <ion-button color="light" (click)="puchIngredient()">
        <ion-icon name="add-circle-outline"></ion-icon>
         </ion-button>
            <ion-button  color="light"  *ngIf="service.ingredientPerService.length" (click)="viewIngredient(true)">  <ion-icon name="egg"></ion-icon></ion-button>
     </ion-item>
   

</ion-content>
<ion-footer  collapse="">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
         <ion-button fill="outline" color="tertiary" expand="full" (click)="addOrUpdate()">
           <ion-icon  name="save-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
         <ion-button  fill="outline" color="tertiary" expand="full" (click)="goHome()">
           <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
         <ion-button fill="outline" color="tertiary" expand="full" (click)="goBack()">
           <ion-icon name="return-up-back-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
   </ion-grid>
</ion-toolbar>
</ion-footer>

<!-- Fade Footer -->
