<ion-header>
	<ion-toolbar>
   
		<ion-buttons slot="secondary"> 
      <ion-menu-button>
      </ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{'ingredient'|translate}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="warning">
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light" (click)="goHome()">
            <ion-icon name="home"></ion-icon>
             </ion-fab-button>
            <ion-fab-button color="light" (click)="createNew()" data-desc="Crear Nuevo">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
     
        </ion-fab-list>
    </ion-fab>
    <ion-searchbar (ionChange)="filterData($event)" placeholder="Buscar"></ion-searchbar>
    <ion-list>
           
        <ion-item-sliding *ngFor="let item of ingredient">
        
          <ion-card id="{{item._id}}">
            <ion-popover trigger="{{item._id}}" [dismissOnSelect]="true">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" (click)="edit(item._id)" [detail]="false">{{'edit' | translate}}</ion-item>
                    <ion-item [button]="true" (click)="remove(item._id)" [detail]="false">{{'remove' | translate}}</ion-item>
                   
            
                 
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover >
          <ion-item style="color: #6190A2;">
            <ion-label>{{'name' | translate}}: {{item.name}}</ion-label>
           
          </ion-item>
          <ion-item style="color: #6190A2;">
            <ion-label>{{'uOm'|translate}}: {{item.unitOfMeasure}}</ion-label>
            
          </ion-item>
          <ion-item style="color: #6190A2;">
           
            <ion-label>{{'cost'|translate}}: {{item.cost | currency}}</ion-label>
          </ion-item>
        </ion-card>
      
        </ion-item-sliding>
      
       
      </ion-list>
	<ion-grid fixed>
	</ion-grid>
    <ion-infinite-scroll  threshold="15%" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>
