/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-thumbnail {
    padding: 5px;
    --size: 140px;
    --border-radius: 14px;
  }
  ion-label{
  --color:#193b44 !important;
  }
  ion-item-sliding > ion-item > ion-label{
    --color:#505050 !important;
  }
  .ion-img{
    height: 130px !important;
  }


  .colorform{background-color: #600478;}
  .centerdiv{display: flex; padding: 2px; align-items: center;justify-content: center;}
  :root{
    --ion-border-color:#8B4513;
   // --ion-toolbar-background:#778899;
    //--ion-toolbar-color:white;
    --ion-item-border-color:#778899;
  }
 
.inbox-list{
  --background-color:gray !important;
}
ion-grid{
  height: 100%;
}

ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
}