<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div>
   <ion-grid>
    <ion-row>
      <ion-col>
        
      </ion-col>
      <ion-col>
        <ion-img style="width: 140px; height: 140px;"  src="../../../../assets/icon/infinite.png"></ion-img>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
   </ion-grid>
      <ion-item lines="full">
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" [(ngModel)]="account.name"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" [(ngModel)]="account.lastName"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"  [(ngModel)]="account.userEmail"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"  [(ngModel)]="account.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alias</ion-label>
        <ion-input type="text"  [(ngModel)]="account.alias"></ion-input>
      </ion-item>
      <ion-list>
        <ion-radio-group [(ngModel)]="account.language">
       
            <ion-label position="floating">Idioma</ion-label>
          <ion-item>
            <ion-label>Español</ion-label>
            <ion-radio slot="start" value="es"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>English</ion-label>
            <ion-radio slot="start" value="es"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Portugues</ion-label>
            <ion-radio slot="start" value="pt"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button (click)='add()' color="danger" expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>